{{nav-section}}
<div class="container-fluid">
    {{header-section heroHeader=model.heroHeader}}
    {{redefining-web-section redefiningWeb=model.redefiningWeb}}
    {{our-team-section ourTeam=model.ourTeam}}
    {{services-section services=model.services}}
    {{contact-section}}
    {{footer-section}}
    {{outlet}}
</div>
