<div id="contact-section" class="contact">
    <div class="container">
        <div class="row">
            <div class="contact__wrapper">
                <h1 class="contact__wrapper--header">Contact</h1>
                <h4 class="contact__wrapper--text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h4>
                <div class="contact__wrapper--container col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    {{#if isSubmitted}}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    We have received your message and would like to thank you for writing to us.
                                    Have a great day!
                                </h3>
                            </div>
                        </div>
                    {{else}}
                        <div class="contact-form">
                            <form {{action "saveContact" on="submit"}} id="contactForm">
                                <div class="form-group col-xs-12">
                                    {{input type="text" class="form-control contact__wrapper--container-input" placeholder="Name" name="name"}}
                                </div>
                                <div class="form-group col-xs-12">
                                    {{input type="email" class="form-control contact__wrapper--container-input" placeholder="Email" name="email"}}
                                </div>
                                <div class="form-group col-xs-12">
                                    {{input type="tel" class="form-control contact__wrapper--container-input" placeholder="Phone" name="phone"}}  
                                </div>
                                <div class="form-group col-xs-12">
                                    {{textarea class="form-control contact__wrapper--container-input" placeholder="Message" id="message" name="description"}}
                                </div>
                                <div class="col-xs-12">
                                    <button type="submit" class="btn contact__wrapper--container-button">Submit</button>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
                <address class="col-lg-6 col-md-6 col-sm-6 col-xs-12 contact__wrapper--info">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="contact__wrapper--info-breaker">
                            <div class="content">
                                <h3>Address</h3>
                                <p>307 5th Ave,16 Floor</p>
                                <p>New York, NY 10016</p>
                            </div>
                            <div class="content">
                                <h3>Phone</h3>
                                <p>212-222-1234</p>
                            </div>
                            <div class="content">
                                <h3>Fax</h3>
                                <p>212-630-7862</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="contact__wrapper--info-breaker">
                            <div class="content">
                                <h3>Email</h3>
                                <p>info@somecompany.com</p>
                            </div>
                            <div class="content">
                                <h3>Connect</h3>
                                <div class="social">
                                    <a class="facebook" href="#"></a>
                                    <a class="twitter" href="#"></a>
                                    <a class="linkedin" href="#"></a>
                                    <a class="pinterest" href="#"></a>
                                    <a class="vimeo" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </address>
            </div>
        </div>
    </div>
</div>
